<div class="footercontent">

    <div class="footer-content">
        <div class="footer1">
            <div class="logo">
                <img src="../../../assets/logo.jpeg" alt="logo">
            </div>
            <div class="socialIcons">
                <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
            </div>
            <div class="footer-text">
                <h3>Address</h3>
                <p>Ghansoli Navi Mumbai</p>
            </div>
        </div>
        <div class="opening_time">
            <h2>Opening Hours</h2>
            <div class="days_time">
                <div class="days">
                    <span>Monday</span>
                    <span>Tuesday</span>
                    <span>Wednesday</span>
                    <span>Thursday</span>
                    <span>Friday</span>
                    <span>Saturday</span>
                    <span>Sunday</span>
                </div>
                <div class="Time">
                    <span>11:00 - 18.00</span>
                    <span>11:00 - 18.00</span>
                    <span>11:00 - 18.00</span>
                    <span>11:00 - 18.00</span>
                    <span>11:00 - 18.00</span>
                    <span>11:00 - 18.00</span>
                    <span>Closed</span>
                </div>
            </div>
        </div>
    </div>
</div>